[submodule "apksigner"]
	path = apksigner
	url = https://android.googlesource.com/platform/tools/apksig.git
	branch = android10-release
[submodule "core"]
	path = core
	url = https://github.com/LSPosed/LSPosed.git
	branch = master
[submodule "patch/libs/manifest-editor"]
	path = patch/libs/manifest-editor
	url = https://github.com/WindySha/ManifestEditor.git
