[submodule "mmp"]
	path = mmp
	url = https://github.com/327135569/LSPosed.git
	branch = lspatch
[submodule "apksigner"]
	path = apksigner
	url = https://android.googlesource.com/platform/tools/apksig.git
	branch = android10-release
